* {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}


#brightness-toggle {
    background: none; 
    color: #ffffff; 
    border: none; 
    margin: 3px;
}


body {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  filter: none;
}

header {
  height: 5%;
  padding: 1em;
  color: white;
}

.nav {
  text-decoration: none;
  color: white;
  margin: 3px;
}

.nav:hover {
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
  color: black;
}

main {
  height: 80%;
}

footer {
  height: 11.6%;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
