.left {
    height: 80%;
    display: flex;
    margin: auto;
    flex: 1;
    padding: 1em;
    border-left: solid 2px white;
    margin: 1em;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
    flex: 2;
    margin: 1em;
}