

.filters {
    border: 3px white solid;
    border-radius: 50px;
    height: 5%;
    width: 30%;
    position: absolute;
    left: 10%;
}

.title {
    font-size: 50px;
}

.projects-list {
    border: 3px white solid;
    border-radius: 50px;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 16%;
    gap: 5px;
    display: flex;
    flex-direction: row;
}

.project {
    border: 3px white solid;
    border-radius: 50px;
    height: 90%;
    width: 30%;
    margin: 30px;
}
