
.filter {
    height: 5%;
    width: 15%;
    position: absolute;
    left: 12%;
}

.filter-btn {
    border: 3px white solid;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.filter-select {
    border: 3px white solid;
    border-radius: 50px;
    width: 80%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.title {
    font-size: 50px;
}

.projects-list {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 16%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px white solid;
    border-radius: 50px;
    height: 80%;
    width: 30%;
    margin: 30px;
}

.project:hover {
    transform: scale(1.01);
}

.projectimg {
    width: 100%; 
    border-radius: 45px;
    margin-bottom: 10%;
}


